<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="FormController">

<h3>CONTACT FORM</h3>
<hr>
      <form name="InpForm" class="contact-form" ng-submit="addForm(form)">
              <p class="control">
                <input type="text" placeholder="Johnny Appleseed" class="input" ng-model="form.name" name="InpName" required>
                <div class="alert" ng-show="InpForm.$submitted || InpForm.InpName.$touched">
                    <span ng-show="InpForm.InpName.$error.required">This is a required field.</span>
                </div>
              </p>

              <p class="control">
                <input type="email" placeholder="email@example.com" class="input" ng-model="form.email" name="InpEmail" required>
                <div class="alert" ng-show="InpForm.$submitted || InpForm.InpEmail.$touched">
                    <span ng-show="InpForm.InpEmail.$error.required">This is a required field.</span>
                    <span ng-show="InpForm.InpEmail.$error.email">This is not a valid email.</span>
              </div>
              </p>

              <p class="control">
                <input type="url" placeholder="http://www.example.com" class="input" ng-model="form.url" name="InpUrl" required>
                <div class="alert" ng-show="InpForm.$submitted || InpForm.InpUrl.$touched">
                    <span ng-show="InpForm.InpUrl.$error.required">This is a required field.</span>
                    <span ng-show="InpForm.InpUrl.$error.url">This is not a valid URL.</span>
              </div>
              </p>

              <p class="control">
                <textarea type="comment" placeholder="comment" class="input" ng-model="form.comment" name="InpComment" required></textarea>
                <div class="alert" ng-show="InpForm.$submitted">
                    <span ng-show="InpForm.InpComment.$error.required">This is a required field.</span>
              </div>
              </p>

              <p class="control">
                <button class="button">Submit</button>
              </p>

            </form>


    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
